@media only screen and (min-width :1200px){
    body
    {
        width : 100%;
        height : 100%;
        margin : 0px;
        padding: 0px;
        background: #1d1d1d;
    }
    #bod{
        width: 80%;
        padding-left: 10%;
    }
    img{width: 100%;

        align-items: center;}
    ul {
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color:#1d1d1d;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: #696969;
        text-align: center;
        padding: 10px 20px;

    }

    li a:hover {
        background-color: #111;
        color: #DCDCDC;
    }
    .button {background-color: #1d1d1d;
                border: none;
                display: block;
                color: #696969;
                text-align: center;
                padding: 11px 20px;
                text-decoration: underline;    
        }
    #drop{
         height: 30px;
        position: absolute;
        left: 350px;
        top: 30px;
        z-index: 0;
        background-color: red;
    }

    .button:hover{ background-color: #111;
                color: #DCDCDC;}
    #event{

        width: 15.5%;

        text-align: center;
        float: left;

        background-color:#505051;
        margin: 0.5%;
    }
    #ime{
         height: 40vh;

    }
}
@media only screen and (max-width :768px){
     body
    {
        width : 100%;
        height : 100%;
        margin : 0px;
        padding: 0px;
        background: blue;
    }
    #bod{
        width: 80%;
        padding-left: 10%;
    }
    img{width: 100%;

        align-items: center;}
    ul {
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color:#1d1d1d;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: #696969;
        text-align: center;
        padding: 10px 20px;

    }

    li a:hover {
        background-color: #111;
        color: #DCDCDC;
    }
    .button {background-color: #1d1d1d;
                border: none;
                display: block;
                color: #696969;
                text-align: center;
                padding: 11px 20px;
                text-decoration: underline;    
        }
    #drop{
         height: 30px;
        position: absolute;
        left: 350px;
        top: 30px;
        z-index: 0;
        background-color: red;
    }

    .button:hover{ background-color: #111;
                color: #DCDCDC;}
    #event{

        width: 48%;

        text-align: center;
        float: left;

        background-color:#505051;
        margin: 1%;
    }
    #ime{
         height: 40vh;

    }
}
